/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/components/gridData/GridChildCSS.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.mTouchBrief .asset img, .m360Brief .asset img, .mHubPageBrief .asset img, .mHubBrief .asset img {
    width: 340px !important;
    height: 166px !important;
}

.mHubPageBrief .asset img, .mHubBrief .asset img {
    scale: 1.5;
}

.mPayBrief .asset img {
    width: 250px !important;
    height: auto !important;
}

.aboutMercury .asset img {
    width: 340px !important;
    height: auto !important;
}

.mPayFeatureOne .asset, 
.mPayFeatureTwo .asset, 
.mPayFeatureThree .asset,
.advisoryTag .asset,
.techonologyTag .asset,
.businessOperationsTag .asset,
.memberManagementTag .asset,
.riskManagementTag .asset {
    display: flex;
    justify-content: flex-end;
}

.mPayFeatureOne .asset img, 
.mPayFeatureTwo .asset img, 
.mPayFeatureThree .asset img, 
.advisoryTag img,
.techonologyTag img,
.businessOperationsTag img,
.memberManagementTag img,
.riskManagementTag img,
.determination img,
.empathy img,
.agility img,
.diversity img {
    width: 70px;
    height: 70px;
}

.mPayFeatureOne, 
.mPayFeatureTwo, 
.mPayFeatureThree,
.advisoryTag,
.techonologyTag,
.businessOperationsTag,
.memberManagementTag,
.riskManagementTag {
    height: 540px;
    border-radius: 30px;
}

.patternPosition {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.advisoryTag,
.techonologyTag,
.businessOperationsTag,
.memberManagementTag,
.riskManagementTag {
    font-size: 34px;
    line-height: 41px;
}

.sectionBackgroundCP {
    transform-origin: 100% 0;
    transform: skewY(-6deg);
    background-color: #f4f4f4;
}

@media only screen and (max-width: 990px){
    .advisoryTag,
    .techonologyTag,
    .businessOperationsTag,
    .memberManagementTag,
    .riskManagementTag {
        font-size: 24px;
        line-height: 31px;
    }
}

@media only screen and (max-width: 1279px){
    .mPayFeatureOne, 
    .mPayFeatureTwo, 
    .mPayFeatureThree,
    .advisoryTag,
    .techonologyTag,
    .businessOperationsTag,
    .memberManagementTag,
    .riskManagementTag {
        height: -webkit-fill-available !important;
    }
}

.mHubGridSection {
    max-width: 1180px !important;
}

.featureCheckList .checkbox-list-img-container img {
    width: 56px;
    height: 56px;
    margin: 0 auto;
}

@media (min-width: 1280px) and (max-width: 2000px){
    .mHubGridSectionGridContainer {
        gap: 1.25rem !important;
    }
}

.mHubFeaturesHeading {
    position: sticky;
    top: 20px;
    align-self: flex-start;
}

.peopleManagementGrid .asset img {
    border-radius: 20px;
}

.peopleManagementGrid .socialMediaIconContainer {
    width: 30px;
    height: 30px;
}

.peopleManagementGrid {
    max-width: 300px;
}

.peopleContainer .asset {
    max-height: 310px;
    border-radius: 20px !important;
    overflow: hidden;
}

.peopleContainer h3 {
    font-size: 24px !important;
    line-height: 30px !important;
    padding-top: 10px;
    font-weight: bold;
}

.peopleContainer h4 {
    font-size: 20px !important;
    font-weight:500;
}

.peopleContainer .asset img:hover, .peopleManagementGrid .asset img:hover, .mercury-map-image:hover {
    scale: 1.1;
}

.peopleManagementGrid .asset {
    border-radius: 20px;
}

.basharBrief h3 {
    font-size: 30px !important;
    line-height: 38px !important;
    font-weight: normal !important;
}

.basharBrief h4 {
    font-size: 30px !important;
    line-height: 38px !important;
    font-weight: bold !important;
}

.basharBrief p {
    font-size: 20px !important;
    line-height: 24px !important;
}

.networkOne {
    position: relative;
    border-radius: 16px;
    background-color: white;
}

.networkOne h2 {
    font-weight: bold;
}

.peopleContainer p {
    font-weight: 300;
}

.networkOne::before {
    content: '';
    position: absolute;
    z-index: -1;
    margin: -4px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #B100C0 0%, #0048D3 100%);
    border-radius: 20px;
}

.sectionContainer:hover .filled-button {
    scale: 1.2;
    animation-delay: 1s;
    -o-animation-duration: 2s;
    margin-left: 15px;
    animation: all ease-in-out;
}

/* .bgHoverAnimation {
    background: linear-gradient(233deg, #DAF0EA, #CDE4D8, #E3F0E9);
    width: 100%;
    background-size: cover;
    background-blend-mode: multiply;
    -webkit-animation: hue-rotate 3s linear infinite;
            animation: hue-rotate 3s linear infinite;
  }
  
  @-webkit-keyframes hue-rotate {
    from {
      -webkit-filter: hue-rotate(0);
      -moz-filter: hue-rotate(0);
      -ms-filter: hue-rotate(0);
      filter: hue-rotate(0);
    }
    to {
      -webkit-filter: hue-rotate(360deg);
      -moz-filter: hue-rotate(360deg);
      -ms-filter: hue-rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }
  
  @keyframes hue-rotate {
    from {
      -webkit-filter: hue-rotate(0);
      -moz-filter: hue-rotate(0);
      -ms-filter: hue-rotate(0);
      filter: hue-rotate(0);
    }
    to {
      -webkit-filter: hue-rotate(360deg);
      -moz-filter: hue-rotate(360deg);
      -ms-filter: hue-rotate(360deg);
      filter: hue-rotate(360deg);
    }
  } */

  .mPayHeroImage:hover, .mTouchHeroImage:hover, .m360HeroImage:hover, .mHubHeroImage:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='40'><rect rx='20' width='100%' height='100%' fill='black' /><text x='50%' y='50%' font-family='sans-serif' font-weight='bold' font-size='14' dominant-baseline='middle' text-anchor='middle' fill='white'>Learn More</text></svg>") 16 0, auto !important;
  }
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/components/modal/ModalCSS.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
* {
    transition: all 0.2s ease;
}

.modalButtonMain {
    outline: none;
    padding: 20px 60px;
    border: 2px solid #000;
    background-color: #000;
    font-size: 16px;
    font-weight: 400;
    color:#fff;
    border-radius: 10px;
    margin: 40px auto 100px;
    display: grid;
    align-items: center;
    cursor: pointer;
}

.scale100 {
    scale: 1;
    transition: all 1s;
}

.scale90 {
    scale: 0.9;
    transition: all 1s;
}

.map-container {
    width: 100%;
    height: 100vh;
}

.modalBody {
    width: 100%;
}

.modalButtonMain:hover {
    background-color: #fff;
    color:#000;
    scale: 1.1;
}

.black {
    color: #000;
}

.gray {
    color:#666;
}

.modalWrapper {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(000, 000, 000, 0.5);
    outline: 0;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
}

.modalDataContainer {
    width: 50vw;
    height: 90vh;
    padding: initial;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 5px rgba(000, 000, 000, 0.3);;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    background-color: white;
    opacity: 1;
    z-index: 999;
    overflow: hidden;
    animation: fadein 0.8s;
}

@keyframes fadein {
    from {
        opacity: 0;
        top: 60%;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}

.modalContentsContainer {
    display: flex;
    align-items: flex-start;
    padding: 150px 80px;
    flex-direction: column;
    gap: 20px;
    align-self: flex-start;
    overflow-y: scroll;
    position: relative;
    max-height: -webkit-fill-available;
    scrollbar-color: white white;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.modalBody p {
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 400;
    letter-spacing: .012em;
    pointer-events: none;
}

.modalHeadline {
    font-size: 48px;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: -0.015em;
    pointer-events: none;
}

.modalCloseButtonContainer {
    padding: 20px;
    z-index: 999;
    right: 0;
    top: 0;
    position: absolute;
    align-items: center;
    outline: none;
    cursor: pointer;
}

.modalCloseButtonContainer .btnClose {
    top: 40px;
    left: 40px;
    font-size: 36px;
    transition: all 50ms !important;
}

.modalCloseButtonContainer .btnClose:hover {
    color:#666;
}

.gradientback{
    position:absolute;
    bottom:0px;
    outline: 0;
    left:0px;
    width:100%;
    height:50px;
    background: linear-gradient(to bottom,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,1) 100%); /* W3C */
}

.modalDataContainer ::-webkit-scrollbar {
    width: 5px;
}

.modalDataContainer ::-webkit-scrollbar-track {
    background-color: #fff;
}

.modalDataContainer ::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 1rem;
}

.badgeContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-block: 2rem;
    margin-inline: auto;
    justify-items: start;
}

.badgeContentData {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.badgeValue {
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: -0.015em;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
}

.badgeCaption {
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
}

.divider {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #d2d2d7;
    margin-top: 40px;
}

.mark {
    animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, rgb(141, 255, 121) 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 5px;
    border-radius: 4px;
    pointer-events: none;
  }
  
  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }

  .memberImageContainer {
    outline: 0;
    border: none;
  }

  .memberImage {
    width: 90%;
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
  }

  @media only screen and (min-width: 735px) and (max-width: 1170px) {
    .modalDataContainer {
        width: 90vw;
    }
    .badgeContent {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (max-width: 734px) {
    .modalDataContainer {
        width: 100%;
        height: 100%;
        border-radius: 0%;
    }

    .modalContentsContainer {
        padding: 150px 40px;
    }

    .badgeContent {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @keyframes oscillate {
    0%, 100% {
      transform: rotate(6deg);
    }
    50% {
      transform: rotate(-6deg);
    }
  }

  .modalDataContainer .leafPattern img {
    animation: oscillate 3s linear infinite;
  }
/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/components/featuredVideo/FeaturedVideoCSS.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.video-container-youtube {
    /* border-radius: 20px; */
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-bottom: 40%;
    /* box-shadow: var(--video-container-box-shadow); */
    margin: 20px auto 100px;
}

.video-container-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.video-container {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    position: relative;
    /* box-shadow: var(--video-container-box-shadow); */
    margin: 20px auto 100px;
}

video {
    width: 100%;
    max-height: 90vh;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
}
